body {
    background-color: #eee;
    /* color: #eee; */
    padding: 8px;
    width: 400px;
    max-height: 600px;
    min-height: 200px;
}

.full-width {
    width: 100%;
}

.scrollbar {
    overflow: visible;
    white-space: nowrap;
    max-height: 400px;
}

.success-message {
    margin-top: 8px;
    color: white;
    background-color: green;
    border-color: rgb(0, 105, 0);
    border-radius: 4px;
    border-width: 1px;
    padding: 4px;
    transition: opacity 1s ease-in-out;
  }
  .fade-out {
    opacity: 0;
  }
  .hidden {
    display: none;
  }

/**************************************/
/* Minimal CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Bootstrap-like Styles */
body {
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #007bff;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}